<nav
  style="height: 112px"
  class="navbar navbar-expand-sm navbar-light bg-white"
>
  <div class="container">
    <!-- <span class="navbar-brand mx-auto font-cambo pb-0" href="#">
      Page <span class="font-cambo text-muted">Title</span>
		</span> -->
  </div>
</nav>

<nav class="navbar navbar-expand-sm navbar-dark bg-danger shadow-sm">
  <div class="container">
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mx-auto">
        <li
          class="nav-item"
          routerLinkActive="active"
          *ngFor="let item of items"
        >
          <a
            class="nav-link text-uppercase"
            [routerLink]="item.toLowerCase()"
            >{{ item }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
